extends base

block vars
  - var title = 'Create Poll'

block body

  div.maindiv
    div.polldiv
      p.pollheader Create poll
      form(id="create-poll", method="post")
        span Question: 
          input(type="text" name="question" id="question" size="60")
          br
          br
          span Possible choices:
            select(id="qchoices", name="qchoices")
              each option in choices
                - var ch = option.option
                option(value="" + ch + "")  #{ch}
            input.qsubmitbutton(type="button" value="Submit" onClick="validate();")
            input.qcancelbutton(type="button" value="Cancel" onClick="history.back();")
            br
            br