extends base

block vars
  - var title = 'Polls'

block body

  div.maindiv
    div.polldiv
      div.optionfiv
        form(id="poll-options", method="post")
          input(type="hidden" name="qid" id="qid" value="" + poll[0]._id + "")
          br
          span #{poll[0].question}
          br
          br
          select(id="choice", name="choice", value="", onChange="this.form.submit();")
            option(disabled selected value) -- select an option --
            each option in options
              - var op = option.option
              - var opid = option._id
              option(value="" + opid + "")  #{op}
          br
          br
          input(type="button" value="Cancel" onClick="history.back();") 
          br
          br
                
            
        