extends base

block vars
  - var title = 'Polls'

block body

  div.maindiv
    div.polldiv
      if !questions
        p No polls found
      else
        if user
          input.poll(type="button" value="Create new poll" onClick="choosePoll('New');") 
          br
        p.pollheader Current polls
        form(id="poll-list", method="post")
          input(type="hidden" name="qid" id="qid" value="")
          each question in questions
            - var qid = question._id
            - var quest = question.question
            span.poll(onClick="choosePoll('" + qid + "');") #{quest} 
            br
            br