body{
    margin :0;
    font-family: Arial, Helvetica, sans-serif;
}
.navdiv{
  height:60px;
  -webkit-box-shadow: 0 10px 15px #888888;
  -moz-box-shadow: 0 10px 15px #888888;
  box-shadow: 0 10px 15px #888888;
  padding: 4px;
}
.header{
  position: absolute;
  font-size: 3em;
  padding: 8px;
  top: 0px;
  left: 0;
  color:  darkblue;
}
.username{
  position: absolute;
  font-size: 3em;
  padding: 8px;
  top: 10px;
  right: 10px;
  color:  darkblue;
}
.pollheader{
  font-size: 2em;
  color: blue;
}
.maindiv{
    position:absolute;
    left:0;
    top:100px;
    width:100%;
    padding: 2px;
}
.polldiv{
 position: relative;
 width:600px;
 background-color: lightgray;
 text-align: center;
 padding: 10px;
 margin: 0 auto;
 border-radius: 25px;

}
.poll{
  font-size: 20px;
  padding:6px;
}
.qsubmitbutton{
  margin-left: 40px;
}
.qcancelbutton{
  margin-left: 20px;
}

